pom.xml
*.jar
*.class
/lib
/classes
/target
/node_modules
/bower_components
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-classpath
.sass-cache
resources/public/cljs
resources/public/js
resources/public/style
resources/public/*.html
resources/public/test/js
